@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/PTSansBold.ttf');
}
@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PTSans.ttf');
    font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'PTSansBold';
}
p{
    font-family: 'PTSans'; 
    margin: 0;
}
a{
    font-weight: 500;
}

@media only screen and (max-width:576px){
    h1{
        font-size:x-large;
    }
}