.page {
  width: fit-content;
  background-color: #f7f7fa;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 1.5rem 0 1rem 0;
  a {
    color: #000;
    &:hover {
      text-decoration: none;
      color: #e42a1e;
    }
  }
  ul {
    display: flex;
    li {
      list-style-type: none;
      img {
        margin: 0 0.7rem;
      }
    }
  }
}
.about {
  p {
    font-size: 15px;
  }
  .about-production {
    img {
      width: 100%;
    }
    .leave-request {
      background-image: url(../images/about-product-4.png);
      padding: 2.5rem 2.5rem;
      background-repeat: no-repeat;
      box-shadow: 0px 9px 46.44px 7.56px rgba(196, 196, 196, 0.28);
      background-position-x: 23rem;
      background-position-y: 4rem;
      span {
        color: #e42a1e;
      }
      button {
        padding: 0 4rem;
      }
    }
  }
  .advantages {
    background-image: url(../images/advantages-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-color: #e5e6e8;
    padding: 40px 0 60px 0;
    ul {
      li {
        list-style-type: none;
        margin-top: 0.8rem;
        img {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .distributor {
    margin: 1rem 0 4rem 0;
    .Official-distributor {
      height: 515px;
      background-image: url(../images/destr02.png);
      background-size: cover;
      background-repeat: no-repeat;
      .distributor-block {
        position: relative;
        width: 41%;
        left: 55%;
        top: 70px;
        height: 55%;
        background-color: #e9e9e9;
        .distributor-text {
          position: absolute;
          background-color: #fff;
          padding: 45px 30px 85px 45px;
          right: 11px;
          width: 99%;
          top: -14px;
          span {
            font-size: 80px;
            font-family: "PTSansBold";
            color: #e42a1e;
          }
        }
      }
    }
    .Customer-base {
      height: 515px;
      background-image: url(../images/destr01.png);
      background-size: cover;
      background-repeat: no-repeat;
      .distributor-block {
        position: relative;
        width: 41%;
        left: 5%;
        top: 70px;
        height: 55%;
        background-color: #e9e9e9;
        .distributor-text {
          position: absolute;
          background-color: #fff;
          padding: 45px 30px 85px 45px;
          right: 5;
          right: 11px;
          width: 99%;
          top: -14px;
          span {
            font-size: 80px;
            font-family: "PTSansBold";
            color: #e42a1e;
          }
        }
      }
    }
  }

  .instagram {
    padding: 75px 0 57px 0;
    background-image: url(../images/inst-bg.png);
    background-size: cover;
    background-position-y: -12.3rem;
    .btn-global {
      margin-bottom: 7px;
      img {
        margin-right: 1rem;
      }
    }
    .inst-link {
      background-color: #fff;
      width: 221px;
      justify-content: flex-start;
    }
  }
  .about-text-foot {
    width: 60%;
    margin: 3rem auto;
    border: 10px solid #f3f3f3;
    padding: 3rem 8rem 2rem;
    position: relative;
    span {
      position: absolute;
      top: -2.6rem;
      left: 45%;
    }
  }
}
@media only screen and (max-width: 576px) {
  .about{
    .about-production{
      .leave-request{
        background-position-x:8rem;
        background-position-y:1rem;
      }
    }
    .title,.about-text,.about-production{
      padding: 0 15px;
    }
    .about-production{
      img{
        margin-bottom: 1rem;
      }
    }
    .distributor{
      .Official-distributor{
        .distributor-block{
          background-color: transparent;
          position: static;
          width: auto;
          .distributor-text{
            position: static;
            width: 100%;
          }
        }
      }
      .Customer-base{
        .distributor-block{
          background-color: transparent;
          position: static;
          width: auto;
          .distributor-text{
            position: static;
            width: 100%;
          }
        }
      }
    }
    .instagram{
      background-size: auto;
    }
    .about-text-foot{
      width: auto;
      padding: 3rem 0rem 2rem;
      span{
        left: 40%;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width:1023px){
  .map{
    margin-bottom: 5rem !important;
    .col-12{
      padding: 0;
      label{
        margin-top: 2rem;
      }
    }
    .your-question{
      position: static !important;
      width: 100% !important;
      .btn-global{
        margin-top: 2rem;
      }
    } 
  }
}

