.basket {
  .basket-content {
    padding: 14px 1rem;
    box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
    font-size: 18px;
    .basket-img {
      border: 2px solid #eeeeee;
      padding: 12px 0.5rem;
      img {
        width: 65px;
      }
    }
    .delet-product {
      cursor: pointer;
      transition: all .5s ease;
      &:hover {
        transform: scale(0.7);
      }
    }
  }
  .total {
    h2 {
      margin-left: 1rem;
    }
  }
  .btn-basket {
    border: 2px solid #eeeeee;
    padding: 0 6rem;
    height: 3.3rem;
    &:hover {
      border: 2px solid #dc3545;
    }
  }
  .basket-form {
    padding: 40px 0 90px 0;
    background-image: url(../../../dist/images/basket-bg.png);
    background-size: cover;
    background-position: right;
    label {
      font-weight: bold;
      color: #000;
      font-size: 14px;
      margin-left: 1rem;
      span {
        color: red;
      }
    }
    input {
      padding: 1rem;
      width: 100%;
      border: none;
      border-radius: 5px;
      border-bottom: 2px solid transparent;
      &:focus {
        outline: none;
        border-bottom: 2px solid red;
      }
    }
    select {
      width: 100%;
      padding: 1rem;
      border: none;
      border-radius: 5px;
      -webkit-appearance: none;
      background-image: url(../../../dist/images/top-arrow.png);
      background-repeat: no-repeat;
      background-position: right;
      background-position-x: 95%;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    textarea {
      width: 100%;
      padding: 1rem;
      border: none;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
    .btn-global {
      padding: 0 3rem;
      border: 2px solid #eeeeee;
      &:hover {
        border: 2px solid #dc3545;
      }
    }
    .order-pice {
      display: flex;
      align-items: center;
      .total {
        margin-left: 1.5rem;
      }
    }
  }
}
.quantity {
  width: 70%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  form {
    position: relative;
    width: 45%;
    display: flex;
    align-items: center;
    height: 2.5rem;
    input {
      position: absolute;
      width: 100%;
      background-color: #f6f6f6;
      text-align: center;
      font-weight: bold;
      height: 100%;
      border: none;
      border-radius: 5px;
      box-shadow: none;
    }
    .plus {
      position: absolute;
      z-index: 15;
      right: 5px;
      cursor: pointer;
    }
    .minus {
      cursor: pointer;
      position: absolute;
      z-index: 15;
      left: 5px;
    }
  }
}
.mobile-basket {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}
@media only screen and (max-width: 576px) {
  .shoping-img {
    display: none;
  }
  .shoping-fix-basket {
    display: none;
  }
  .mobile-basket {
    display: block;
  }
  .basket {
    .basket-content {
      padding-top: 4rem;
      position: relative;
      .basket-form {
        select {
          margin-bottom: 2rem;
        }
      }
      .basket-text {
        text-align: center;
        margin: 1.5rem 0;
      }
      .quantity {
        width: 100%;
        margin: 1rem auto;
      }
      .delet-product {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }

    .order-pice {
      flex-direction: column;
    }
    .total {
      margin: 1rem 0 !important;
    }
  }
}
