.catalog {
  .catalog-filter {
    background-image: url(../images/catalog-1.png);
    padding: 15px 0 12px 0;

    .value-inp {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 37%;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        color: #8d8d8d;
      }
    }
    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      margin-top: 1rem;
      height: 6px;
      border-radius: 5px;
      background: -webkit-linear-gradient(left, #e42a1e 0%, #e42a1e 50%, #fff 50%, #fff 100%);
      &:focus {
        outline: none;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        position: relative;
        background-color: #fff;
        background-image: url(../images/menu-line.png);
        background-size: inherit;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        box-shadow: 0px 3px 7.36px 0.64px rgba(147, 147, 147, 0.31);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .filter-product {
      .filter-checkbox {
        font-size: 14px;
        font-weight: 500;
        input {
          margin-right: 10px;
        }
        input[type="checkbox"] {
          -webkit-appearance: none;
          width: 28px;
          height: 28px;
          background-color: #fff;
          border-radius: 5px;
          position: relative;
          &:focus {
            outline: none;
          }
        }
        input[type="checkbox"]:not(:checked):after {
          content: "";
          position: absolute;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          left: 30%;
          top: 30%;
          width: 15px;
          height: 7px;
          border-radius: 1px;
          border-left: 4px solid #e42a1e;
          border-bottom: 4px solid #e42a1e;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .catalog-product {
    padding-top: 2rem;
    .product-content {
      padding: 1.5rem 1.3rem 0.8rem;
      border: 1px solid #eeeeee;
      transition: all 0.5s ease;
      .product-img {
        position: relative;
        height: 10rem;
        .quick-view {
          transition: all 0.2s ease-in-out;
          background-color: rgba(229, 229, 229, 0.9);
          text-decoration: none;
          border-radius: 2px;
          visibility: hidden;
          position: absolute;
          text-align: center;
          margin-left: -75px;
          margin-top: -20px;
          line-height: 36px;
          cursor: pointer;
          color: #666;
          height: 36px;
          width: 150px;
          opacity: 0;
          z-index: 99;
          left: 50%;
          top: 50%;
          font-size: 13px;
          font-family: "PtSansBold";
        }
        img {
          width: 86px;
        }
        &:hover {
          .quick-view {
            visibility: visible;
            opacity: 1;
          }
          &:before {
            content: "";
            width: 2rem;
            height: inherit;
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-3.5rem) skewX(-45deg);
            transition: 0.5s;
          }
          &:hover:before {
            transform: translateX(8rem) skewX(-45deg);
            background-color: rgba(#fff, 0.3);
            color: #fff !important;
          }
        }
      }
      .product-body {
        .product-text {
          height: 7rem;
        }
        .product-price {
          margin-bottom: 1rem;
        }
      }
      &:hover {
        box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
        border: 1px solid transparent;
      }
    }
  }
}

.modal-dialog {
  max-width: 65%;
  .close {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 3rem;
    font-weight: 100;
  }
  .modal-content {
    padding: 1.5rem 2.5rem;
    .modal-header {
      padding-top: 0;
      border-bottom: 0;
    }
    .modal-galery {
      margin-top: 0.7rem;
      margin-bottom: 1rem;
      .item-cont {
        padding: 10px;
        box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
        font-size: 13px;
        p {
          font-family: "PTSansBold";
        }
      }
    }
    .modal-slider {
      position: relative;
      .galery-prev,
      .galery-next {
        position: absolute;
        top: 50%;
        z-index: 99;
      }
      .galery-prev {
        left: 1rem;
      }
      .galery-next {
        right: 1rem;
      }
    }
  }
  .right-modal-content {
    .modal-tab {
      .tab-head {
        width: fit-content;
        box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
        font-family: "PtSansBold";
        li {
          transition: all 1s ease;
          color: #a4a4a4;
          list-style-type: none;
          padding: 0.5rem 1.5rem;
          cursor: pointer;
        }
      }
      .tab-active {
        border-radius: 5px;
        background-color: #000;
        color: #fff !important;
      }
      .modal-description {
        transform: translateX(200%);
        transition: all 1s ease;
        position: absolute;
        opacity: 0;
        ul {
          li {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            font-weight: 500;
          }
        }
      }
      .description-active {
        display: block !important;
        transform: translateX(0);
        position: static;
        opacity: 1;
      }
    }
  }
}
.small {
  color: #71717e;
}
.modal-buy {
  .modal-dialog {
    width: 30%;
    .modal-content {
      padding: 1rem 0.5rem 1rem 1rem;
      label {
        font-weight: bold;
        color: #000;
        font-size: 14px;
        margin-left: 1rem;
        span {
          color: red;
        }
      }
      input {
        padding: 1rem;
        width: 100%;
        border: none;
        border-radius: 5px;
        border-bottom: 2px solid transparent;
        background-color: #f5f6f8;
        &:focus {
          outline: none;
          border-bottom: 2px solid red;
        }
      }
      .quantity {
        input {
          background-color: #fff;
          box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
        }
      }
      .modal-footer {
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .filter-checkbox {
    div {
      padding-left: 10px !important;
    }
  }
}
