.contact {
  display: flex;
  align-items: end;
  img {
    margin-right: 2rem;
  }
  a {
    color: #002494;
  }
}
.map {
  margin-top: 3rem;
  margin-bottom: 275px;
  box-shadow: 0px 140px 100px 0px rgba(184, 184, 197, 0.26);
  position: relative;
  .your-question {
    width: 75%;
    position: absolute;
    left: 15%;
    bottom: -4rem;
    padding: 1.5rem;
    background-color: #fff;
    label {
      font-family: "PTSansBold";
    }
    input {
      width: 100%;
      padding: 1rem;
      font-size: 16px;
      font-family: "PTSansBold";
      border-radius: 5px;
      border: 1px;
      background-color: #f5f6f8;
    }
    .btn-global{
        width: 100%;
    }
  }
}


// MEDIA
@media only screen and (max-width: 576px){
  .contact{
    margin-top: 2rem;
    img{
      width: 2rem;
    }
  }
  .map{
    margin-bottom: 3rem;
    .your-question{
      width: auto;
      position: static;
      .col-12{
        padding: 0;
        label{
          margin-top: 2rem;
        }
        .btn-global{
          margin-top: 2rem;
        }
      }
    }
  } 
}