// TITLE
.title {
  padding-bottom: 2rem;
}
// TITLE_END

//GLOBAL-INFO
.global-info {
  padding: 55px 0;
  .main-info {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    .main-info-text {
      font-size: 14px;
      font-family: "PTSans";
      width: 75%;
      h4 {
        font-family: "PTSansBold";
      }
      p {
        color: #878792;
      }
    }
  }
  .info-bg-1 {
    background-image: url(images/num-1-bg.png);
    background-repeat: no-repeat;
    background-position-y: 3rem;
  }
  .info-bg-2 {
    background-image: url(images/num-2-bg.png);
    background-repeat: no-repeat;
    background-position-y: 3rem;
  }
  .info-bg-3 {
    background-image: url(images/num-3-bg.png);
    background-repeat: no-repeat;
    background-position-y: 3rem;
  }
}

//GLOBAL-INFO-END

//PRODUCTION

.production {
  padding: 40px 0;
  background-image: url(images/production-bg.png);
}

//PRODUCTION-END

// CATEGORY
.category {
  padding: 50px 0;
  p {
    margin: 0;
  }
  .card {
    border: none;
    box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
    margin-bottom: 2rem !important;
    img {
      height: 100%;
    }
    .card-body {
      .card-title {
        font-family: "PTSansBold";
        font-size: 21px;
        color: #000;
      }
      .card-text {
        height: 3.5rem;
      }
      padding: 1rem 3rem 1rem 2rem;
      font-size: 16px;
      font-family: "PTSans";
      color: #92929c;
      .btn-global {
        width: 70%;
      }
    }
  }
}

// CATEGORY-END

// GOODS
.goods {
  padding-bottom: 70px;
  a {
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    color: #92929c;
  }
}

///GOODS-END

//BACK-CALL
.red-text {
  color: #e42a1e;
}
.back-call {
  background-image: url(images/back-call-bg.png);
  padding: 45px 0 60px 0;
  background-size: cover;
  font-family: "PTSans";
  form {
    label {
      padding-left: 1rem;
      display: block;
      font-family: "PTSansBold";
    }
    input {
      width: 100%;
      padding: 1rem;
      font-size: 16px;
      font-family: "PTSansBold";
      border-radius: 5px;
      border: 1px;
    }
  }
  .btn-global {
    width: 100%;
    color: #fff;
  }
}

// BACK-CALL-END

//ABOUT-COMPANY

.about-company {
  padding: 65px 0 75px 0;
  font-family: "PTSans";
  h4 {
    font-family: "PTSansBold";
  }
  ul {
    li {
      list-style-type: none;
      margin-bottom: 0.8rem;
      img {
        margin-right: 1rem;
      }
    }
  }
}
//ABOUT-COMPANY-END

// footer-carousel
.end-slide {
  .carousel-text {
    width: 38%;
    position: absolute;
    top: 20%;
    left: 10rem;
    .footer-slide-btn {
      margin-top: 2rem;
    }
  }
}

// footer-carousel-end

//TITLE-INSTAGRAM
.title-inst {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  font-family: "PTSansBold";
  h2 {
    margin: 0;
  }
  img {
    margin-right: 1rem;
  }
}

//TITLE-INSTAGRAM-END

// MEDIA
@media only screen and (max-width: 576px) {
  //MAIN-INFO
  .global-info {
    padding: 0;
    .col-xl-4{
      padding: 0;
    }
    .main-info {
      margin-top: 1rem;
    }
  }
  //MAIN-INFO

  // CATEGORY
  .category {
    .card {
      .card-body {
        text-align: center;
        .btn-global {
          width: 100%;
        }
      }
    }
  }
  // CATEGORY-END

  //BACK-CALL
  .back-call {
    form {
      margin-top: 2rem;
    }
    .btn-global {
      margin-top: 2rem;
      color: #000;
    }
  }

  //BACK-CALL-END

  //footer-slide
  .end-slide {
    .carousel-item {
      img {
        height: 15rem;
      }
      .carousel-text {
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0;
        text-align: center;
        h1 {
          font-size: small;
        }
        .end-slide-btn {
          margin-top: 1rem;
          .btn-global {
            margin: 0 auto;
          }
        }
      }
    }
  }
  //footer-slide-end
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  //SLIDER
  .main-slider {
    h1 {
      font-size: small;
    }
    .carousel-item {
      height: auto;
    }
    .carousel-text {
      top: 10%;
      font-size: 12px;
    }
    .carousel-btn {
      margin-top: 0;
    }
  }
  //BACK-CALL
  .back-call {
    label {
      margin-top: 2rem;
    }
    .btn-global {
      margin-top: 2rem;
    }
  }

  //BACK-CALL-END

  //SLIDER-END
  .end-slide {
    .carousel-item {
      .carousel-text {
        top: 10%;
        h1 {
          font-size: small;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  //SLIDER
  .main-slider {
    .carousel-item {
      height: auto;
      .carousel-text {
        top: 10%;
        \ h1 {
          font-size: 18px;
        }
        .carousel-btn {
          margin-top: 1rem;
        }
      }
      .link-pos-1 {
        bottom: 57%;
        font-size: 12px;
      }
      .link-pos-2 {
        bottom: 51%;
        font-size: 12px;
      }
      .link-pos-3 {
        top: 35.5%;
        right: 19%;
        font-size: 12px;
      }
      .link-pos-4 {
        bottom: 38.5%;
        right: 15%;
        font-size: 12px;
      }
      .link-pos-5 {
        position: absolute;
        bottom: 43%;
        right: 2.5%;
        font-size: 12px;
      }
    }
  }
  //SLIDER-END
  .end-slide {
    .carousel-item {
      .carousel-text {
        h1 {
          font-size: small;
        }
      }
    }
  }
}
