.card-product {
  overflow: hidden;
    .modal-header {
      padding-top: 0;
      border-bottom: 0;
    }
    .modal-galery {
      margin-top: 0.7rem;
      margin-bottom: 1rem;
      .item-cont {
        padding: 10px;
        box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
        font-size: 13px;
        p {
          font-family: "PTSansBold";
        }
      }
    }
    .modal-slider {
      position: relative;
      .galery-prev,
      .galery-next {
        position: absolute;
        top: 50%;
        z-index: 99;
      }
      .galery-prev {
        left: 1rem;
      }
      .galery-next {
        right: 1rem;
      }
    }
  .right-modal-content {
    .modal-tab {
      .tab-head {
        width: fit-content;
        box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
        font-family: "PtSansBold";
        li {
          transition: all 1s ease;
          color: #a4a4a4;
          list-style-type: none;
          padding: 0.5rem 1.5rem;
          cursor: pointer;
        }
      }
      .tab-active {
        border-radius: 5px;
        background-color: #000;
        color: #fff !important;
      }
      .modal-description {
        transform: translateX(200%);
        transition: all 1s ease;
        position: absolute;
        opacity: 0;
        ul {
          li {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            font-weight: 500;
          }
        }
      }
      .description-active {
        display: block !important;
        transform: translateX(0);
        position: static;
        opacity: 1;
      }
    }
  }
}
