@font-face {
  font-family: 'PTSansBold';
  src: url("../fonts/PTSansBold.ttf"); }

@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PTSans.ttf");
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PTSansBold'; }

p {
  font-family: 'PTSans';
  margin: 0; }

a {
  font-weight: 500; }

.btn-global {
  height: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #000;
  width: fit-content; }
  .btn-global:hover {
    background-color: #e42a1e;
    box-shadow: 0px 9px 7.74px 1.26px rgba(228, 42, 30, 0.24); }

.carousel-btn {
  display: flex;
  justify-content: space-between; }
  .carousel-btn a {
    transition: 0.5s;
    color: #000; }
    .carousel-btn a:first-child {
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .carousel-btn a:last-child {
      width: 50%; }

.catalog .btn-global {
  width: 100%;
  height: 2.5rem;
  position: relative;
  justify-content: center;
  margin-bottom: 1rem;
  font-weight: 500; }
  .catalog .btn-global img {
    position: absolute;
    left: 5%; }
  .catalog .btn-global:hover {
    border-color: #dc3545; }

.main-slider {
  position: relative; }
  .main-slider .carousel-item {
    height: 530px; }
  .main-slider h1 {
    font-family: "PTSansBold"; }
  .main-slider .carousel-indicators {
    width: fit-content;
    margin: 0;
    bottom: 25%;
    left: 8%; }
    .main-slider .carousel-indicators .active {
      background-color: red; }
  .main-slider li {
    border: 0;
    width: 3.5rem;
    height: 6px;
    background-color: #fff;
    box-shadow: 0px 8px 13.76px 2.24px rgba(196, 196, 196, 0.67);
    margin-right: 1rem;
    border-top: 0;
    border-bottom: 0;
    border-radius: 1rem; }
  .main-slider .carousel-text {
    width: 37%;
    position: absolute;
    top: 22%;
    left: 8%; }
  .main-slider .carousel-btn {
    margin-top: 3.5rem; }
  .main-slider .carousel-link a {
    color: #000; }
  .main-slider .carousel-link .link-pos-1 {
    position: absolute;
    bottom: 51%;
    left: 46%; }
  .main-slider .carousel-link .link-pos-2 {
    position: absolute;
    bottom: 45%;
    left: 50%; }
  .main-slider .carousel-link .link-pos-3 {
    position: absolute;
    top: 40.5%;
    right: 19%; }
  .main-slider .carousel-link .link-pos-4 {
    position: absolute;
    bottom: 32.5%;
    right: 15%; }
  .main-slider .carousel-link .link-pos-5 {
    position: absolute;
    bottom: 38%;
    right: 3%; }

@media only screen and (max-width: 576px) {
  .main-slider .carousel-indicators {
    bottom: 15%; }
  .main-slider .carousel-item {
    height: 340px; }
    .main-slider .carousel-item img {
      height: 100%;
      image-rendering: pixelated; }
  .main-slider .carousel-link {
    display: none; }
  .main-slider .carousel-text {
    width: 100%;
    top: 2rem;
    left: 0;
    padding: 0 .5rem; }
    .main-slider .carousel-text h1 {
      font-size: x-large; }
    .main-slider .carousel-text .btn-global {
      font-size: 12px;
      font-weight: bold;
      height: 2.3rem; }
      .main-slider .carousel-text .btn-global img {
        width: 20px;
        height: 20px; } }

.production .prev {
  position: absolute;
  left: 0rem;
  top: 50%; }

.production .next {
  position: absolute;
  right: 0rem;
  top: 50%; }

.production .next:hover, .production .prev:hover {
  opacity: .5; }

.production .owl-carousel img {
  width: auto; }

.production .owl-carousel .item {
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  background-color: #Fff;
  text-align: center; }
  .production .owl-carousel .item img {
    margin: 0 auto;
    width: auto;
    max-height: 8rem; }

.production .owl-carousel .btn-global {
  width: 100%;
  margin-top: 1rem; }

.goods .owl-carousel-goods .item {
  border: 2px solid #eeeeee;
  text-align: center;
  padding: 3rem 0 2rem 0; }
  .goods .owl-carousel-goods .item img {
    max-width: 160px;
    max-height: 160px;
    width: auto;
    margin: 0 auto; }
  .goods .owl-carousel-goods .item:hover {
    border: none;
    box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24); }

.carousel-control-prev-icon {
  background-image: none; }

.carousel-control-next-icon {
  background-image: none; }

.carousel-control-next {
  right: 2rem; }

.shoping-fix {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  top: 10%;
  right: 0;
  transform: translateX(100%);
  transition: all 1s ease; }
  .shoping-fix .shoping-img {
    cursor: pointer; }
    .shoping-fix .shoping-img img {
      position: absolute;
      left: -90px;
      top: 0; }

.shoping-fix-active {
  transform: translateX(0) !important; }

.shoping-dark {
  opacity: 0;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.shoping-active {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  z-index: 999; }

.shoping-fix-basket {
  width: fit-content;
  padding: 1rem 2rem; }
  .shoping-fix-basket .quantity {
    width: auto; }
  .shoping-fix-basket .shoping-fix-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0; }
    .shoping-fix-basket .shoping-fix-content .delet-product {
      cursor: pointer; }
      .shoping-fix-basket .shoping-fix-content .delet-product img {
        margin: 0 2rem; }
    .shoping-fix-basket .shoping-fix-content .shoping-fix-img {
      padding: 1rem 2rem;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: center; }
      .shoping-fix-basket .shoping-fix-content .shoping-fix-img img {
        width: 3.5rem;
        max-width: 3.5rem; }
  .shoping-fix-basket .basket-btn {
    display: flex; }
    .shoping-fix-basket .basket-btn .btn-global {
      width: 35%;
      margin: 0 1rem 0 0; }
  .shoping-fix-basket .basket-footer h2 {
    margin-left: 1rem; }

.header {
  padding: 11px 0 16px 0;
  box-shadow: 0px 5px 34.2px 3.8px rgba(28, 28, 28, 0.33);
  background-image: url(../images/header-bg.png);
  font-family: "PTSansBold"; }
  .header p {
    margin: 0; }
  .header .nav ul {
    margin: 0; }
    .header .nav ul li {
      font-size: 16px;
      list-style-type: none; }
      .header .nav ul li a {
        color: #fff; }
        .header .nav ul li a:hover {
          text-decoration: none;
          color: #e42a1e; }
  .header .big-text {
    font-size: 20px;
    color: #fff; }
    .header .big-text p {
      font-family: "PTSansBold"; }
  .header .menu-catalog {
    background-color: #e42a1e;
    padding: 13px 18px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    transition: all .5s ease;
    cursor: pointer; }
    .header .menu-catalog:hover {
      transform: scale(0.9);
      background-color: #ca281d; }
    .header .menu-catalog .menu-button {
      display: flex;
      align-items: center;
      transition: all 1s ease; }
    .header .menu-catalog .burger-menu-lines {
      width: 28px;
      height: 3px;
      margin-right: 1rem;
      background-color: #fff;
      position: relative;
      transition: all 1s ease; }
      .header .menu-catalog .burger-menu-lines::after {
        content: "";
        position: absolute;
        width: 28px;
        height: 3px;
        background-color: #fff;
        top: 8px; }
      .header .menu-catalog .burger-menu-lines::before {
        content: "";
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background-color: #fff; }
  .header form {
    position: relative;
    display: flex;
    align-items: center;
    height: 3.3rem;
    font-weight: 100;
    font-size: 16px; }
    .header form input {
      color: #ababab;
      width: 98%;
      height: 100%;
      border-radius: 5px;
      border: none;
      padding-left: 1rem;
      padding-right: 3rem; }
      .header form input:focus {
        outline-color: #e42a1e; }
    .header form a {
      right: 2rem;
      position: absolute; }
  .header .btn-global {
    color: #fff;
    width: 100%; }
    .header .btn-global img {
      transition: all .2s; }
    .header .btn-global:hover img {
      filter: brightness(0) invert(1); }

.burger-menu-lines-active {
  background-color: transparent !important;
  transform: rotate(360deg); }
  .burger-menu-lines-active::after {
    top: 0 !important;
    transform: rotate(-45deg);
    transition: all 0.1s ease; }
  .burger-menu-lines-active::before {
    top: 0 !important;
    transform: rotate(45deg);
    transition: all 0.1s ease; }

.menu-catalog-content {
  width: 80%;
  background-image: url(../images/header-bg.png);
  display: none;
  padding: 1rem 2rem;
  position: absolute;
  z-index: 99;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-top: 1rem; }
  .menu-catalog-content span {
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    top: -1rem;
    left: 15px;
    background-image: url(../images/header-bg.png);
    transform: rotate(-46deg);
    z-index: 101; }
  .menu-catalog-content ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.5rem 2rem; }
    .menu-catalog-content ul li a {
      color: #fff; }

.menu-catalog-content-active {
  transform: scaleX(1); }

.mobile-menu .burger-mobile {
  display: none;
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer; }
  .mobile-menu .burger-mobile .burger-mobile-lines {
    position: fixed;
    width: 2rem;
    height: 3.5px;
    background-color: #fff;
    transition: all 0.5s ease;
    border-radius: 5px;
    z-index: 100;
    border-bottom: 2px solid silver; }
    .mobile-menu .burger-mobile .burger-mobile-lines::after {
      content: "";
      position: absolute;
      width: 2rem;
      height: 3.5px;
      background-color: #fff;
      top: 10px;
      border-radius: 5px;
      border-bottom: 2px solid silver; }
    .mobile-menu .burger-mobile .burger-mobile-lines::before {
      content: "";
      position: absolute;
      top: -10px;
      width: 2rem;
      height: 3.5px;
      background-color: #fff;
      border-radius: 5px;
      border-bottom: 2px solid silver; }

.mobile-menu .mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/header-bg.png);
  z-index: 99;
  transform: translateX(100%);
  transition: 0.5s;
  opacity: 0;
  border-bottom-left-radius: 60rem;
  border-bottom: 3rem solid silver; }
  .mobile-menu .mobile-nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%; }
    .mobile-menu .mobile-nav ul li {
      list-style-type: none;
      margin-top: 2rem;
      transform: translateX(100%); }
      .mobile-menu .mobile-nav ul li:nth-child(1) {
        margin-top: 0;
        transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      .mobile-menu .mobile-nav ul li:nth-child(2) {
        transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      .mobile-menu .mobile-nav ul li:nth-child(3) {
        transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      .mobile-menu .mobile-nav ul li:nth-child(4) {
        transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      .mobile-menu .mobile-nav ul li a {
        color: #fff; }

.mobile-menu .mobile-nav-active {
  transform: translateX(0) !important;
  opacity: 1;
  border-bottom-left-radius: 0;
  border: none; }

.mobile-menu .burger-mobile-lines-active {
  background-color: transparent !important;
  border: none !important;
  transform: rotate(360deg); }
  .mobile-menu .burger-mobile-lines-active::after {
    top: 0 !important;
    transform: rotate(-45deg);
    transition: all 0.1s ease; }
  .mobile-menu .burger-mobile-lines-active::before {
    top: 0 !important;
    transform: rotate(45deg);
    transition: all 0.1s ease; }

.body-overflow {
  overflow-y: hidden; }

.li-active {
  transform: translateX(0) !important; }

@media only screen and (max-width: 576px) {
  .menu-catalog-content {
    width: 90%; }
    .menu-catalog-content ul li {
      display: block;
      margin-bottom: 2rem; }
  .burger-mobile {
    display: block !important; }
  .desk {
    display: none; }
  .logo {
    text-align: center;
    margin-bottom: 1rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-catalog-content {
    width: 90%; }
    .menu-catalog-content ul li {
      display: block;
      margin-bottom: 2rem; }
  .burger-mobile {
    display: block !important; }
  .desk {
    display: none; }
  .logo {
    text-align: center;
    margin-bottom: 1rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .header .menu-catalog {
    font-size: 12px; }
  .header .btn-global {
    font-size: 12px; } }

footer {
  background-image: url(../images/footer-bg.png);
  padding: 45px 0;
  color: #fff; }
  footer a {
    color: #fff !important; }
  footer .btn-global {
    padding: 0 1.2rem; }
    footer .btn-global img {
      margin-left: 1rem; }
  footer .footer-loc img {
    margin-right: .4rem; }
  footer .footer-loc p {
    color: #e42a1e; }

.end {
  padding-top: 1rem;
  font-weight: 500;
  color: #92929c; }
  .end a {
    color: #92929c; }

@media only screen and (max-width: 576px) {
  footer {
    text-align: center; }
    footer .logo {
      text-align: center;
      margin-bottom: 1rem; }
    footer .footer-btn {
      flex-direction: column; }
      footer .footer-btn .btn-global {
        margin: 1rem auto; }
    footer .footer-loc p {
      margin-bottom: 2rem; } }

.title {
  padding-bottom: 2rem; }

.global-info {
  padding: 55px 0; }
  .global-info .main-info {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline; }
    .global-info .main-info .main-info-text {
      font-size: 14px;
      font-family: "PTSans";
      width: 75%; }
      .global-info .main-info .main-info-text h4 {
        font-family: "PTSansBold"; }
      .global-info .main-info .main-info-text p {
        color: #878792; }
  .global-info .info-bg-1 {
    background-image: url(../images/num-1-bg.png);
    background-repeat: no-repeat;
    background-position-y: 3rem; }
  .global-info .info-bg-2 {
    background-image: url(../images/num-2-bg.png);
    background-repeat: no-repeat;
    background-position-y: 3rem; }
  .global-info .info-bg-3 {
    background-image: url(../images/num-3-bg.png);
    background-repeat: no-repeat;
    background-position-y: 3rem; }

.production {
  padding: 40px 0;
  background-image: url(../images/production-bg.png); }

.category {
  padding: 50px 0; }
  .category p {
    margin: 0; }
  .category .card {
    border: none;
    box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
    margin-bottom: 2rem !important; }
    .category .card img {
      height: 100%; }
    .category .card .card-body {
      padding: 1rem 3rem 1rem 2rem;
      font-size: 16px;
      font-family: "PTSans";
      color: #92929c; }
      .category .card .card-body .card-title {
        font-family: "PTSansBold";
        font-size: 21px;
        color: #000; }
      .category .card .card-body .card-text {
        height: 3.5rem; }
      .category .card .card-body .btn-global {
        width: 70%; }

.goods {
  padding-bottom: 70px; }
  .goods a {
    color: #000; }
    .goods a:hover {
      text-decoration: none; }
  .goods p {
    color: #92929c; }

.back-call {
  background-image: url(../images/back-call-bg.png);
  padding: 45px 0 60px 0;
  background-size: cover;
  font-family: "PTSans"; }
  .back-call .red-text {
    color: #e42a1e; }
  .back-call form label {
    padding-left: 1rem;
    display: block;
    font-family: "PTSansBold"; }
  .back-call form input {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    font-family: "PTSansBold";
    border-radius: 5px;
    border: 1px; }
  .back-call .btn-global {
    width: 100%;
    color: #fff; }

.about-company {
  padding: 65px 0 75px 0;
  font-family: "PTSans"; }
  .about-company h4 {
    font-family: "PTSansBold"; }
  .about-company ul li {
    list-style-type: none;
    margin-bottom: 0.8rem; }
    .about-company ul li img {
      margin-right: 1rem; }

.end-slide .carousel-text {
  width: 38%;
  position: absolute;
  top: 20%;
  left: 10rem; }
  .end-slide .carousel-text .footer-slide-btn {
    margin-top: 2rem; }

.title-inst {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  font-family: "PTSansBold"; }
  .title-inst h2 {
    margin: 0; }
  .title-inst img {
    margin-right: 1rem; }

@media only screen and (max-width: 576px) {
  .global-info {
    padding: 0; }
    .global-info .main-info {
      margin-top: 1rem; }
  .category .card .card-body {
    text-align: center; }
    .category .card .card-body .btn-global {
      width: 100%; }
  .back-call form {
    margin-top: 2rem; }
  .back-call .btn-global {
    margin-top: 2rem;
    color: #000; }
  .end-slide .carousel-item img {
    height: 15rem; }
  .end-slide .carousel-item .carousel-text {
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
    text-align: center; }
    .end-slide .carousel-item .carousel-text h1 {
      font-size: small; }
    .end-slide .carousel-item .carousel-text .end-slide-btn {
      margin-top: 1rem; }
      .end-slide .carousel-item .carousel-text .end-slide-btn .btn-global {
        margin: 0 auto; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-slider h1 {
    font-size: small; }
  .main-slider .carousel-item {
    height: auto; }
  .main-slider .carousel-text {
    top: 10%;
    font-size: 12px; }
  .main-slider .carousel-btn {
    margin-top: 0; }
  .back-call label {
    margin-top: 2rem; }
  .back-call .btn-global {
    margin-top: 2rem; }
  .end-slide .carousel-item .carousel-text {
    top: 10%; }
    .end-slide .carousel-item .carousel-text h1 {
      font-size: small; } }

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .main-slider .carousel-item {
    height: auto; }
    .main-slider .carousel-item .carousel-text {
      top: 10%; }
      .main-slider .carousel-item .carousel-text \ h1 {
        font-size: 18px; }
      .main-slider .carousel-item .carousel-text .carousel-btn {
        margin-top: 1rem; }
    .main-slider .carousel-item .link-pos-1 {
      bottom: 57%;
      font-size: 12px; }
    .main-slider .carousel-item .link-pos-2 {
      bottom: 51%;
      font-size: 12px; }
    .main-slider .carousel-item .link-pos-3 {
      top: 35.5%;
      right: 19%;
      font-size: 12px; }
    .main-slider .carousel-item .link-pos-4 {
      bottom: 38.5%;
      right: 15%;
      font-size: 12px; }
    .main-slider .carousel-item .link-pos-5 {
      position: absolute;
      bottom: 43%;
      right: 2.5%;
      font-size: 12px; }
  .end-slide .carousel-item .carousel-text h1 {
    font-size: small; } }

.page {
  width: fit-content;
  background-color: #f7f7fa;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 1.5rem 0 1rem 0; }
  .page a {
    color: #000; }
    .page a:hover {
      text-decoration: none;
      color: #e42a1e; }
  .page ul {
    display: flex; }
    .page ul li {
      list-style-type: none; }
      .page ul li img {
        margin: 0 0.7rem; }

.about p {
  font-size: 15px; }

.about .about-production img {
  width: 100%; }

.about .about-production .leave-request {
  background-image: url(../images/about-product-4.png);
  padding: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  box-shadow: 0px 9px 46.44px 7.56px rgba(196, 196, 196, 0.28);
  background-position-x: 23rem;
  background-position-y: 4rem; }
  .about .about-production .leave-request span {
    color: #e42a1e; }
  .about .about-production .leave-request button {
    padding: 0 4rem; }

.about .advantages {
  background-image: url(../images/advantages-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-color: #e5e6e8;
  padding: 40px 0 60px 0; }
  .about .advantages ul li {
    list-style-type: none;
    margin-top: 0.8rem; }
    .about .advantages ul li img {
      margin-right: 0.5rem; }

.about .distributor {
  margin: 1rem 0 4rem 0; }
  .about .distributor .Official-distributor {
    height: 515px;
    background-image: url(../images/destr02.png);
    background-size: cover;
    background-repeat: no-repeat; }
    .about .distributor .Official-distributor .distributor-block {
      position: relative;
      width: 41%;
      left: 55%;
      top: 70px;
      height: 55%;
      background-color: #e9e9e9; }
      .about .distributor .Official-distributor .distributor-block .distributor-text {
        position: absolute;
        background-color: #fff;
        padding: 45px 30px 85px 45px;
        right: 5;
        right: 11px;
        width: 99%;
        top: -14px; }
        .about .distributor .Official-distributor .distributor-block .distributor-text span {
          font-size: 80px;
          font-family: "PTSansBold";
          color: #e42a1e; }
  .about .distributor .Customer-base {
    height: 515px;
    background-image: url(../images/destr01.png);
    background-size: cover;
    background-repeat: no-repeat; }
    .about .distributor .Customer-base .distributor-block {
      position: relative;
      width: 41%;
      left: 5%;
      top: 70px;
      height: 55%;
      background-color: #e9e9e9; }
      .about .distributor .Customer-base .distributor-block .distributor-text {
        position: absolute;
        background-color: #fff;
        padding: 45px 30px 85px 45px;
        right: 5;
        right: 11px;
        width: 99%;
        top: -14px; }
        .about .distributor .Customer-base .distributor-block .distributor-text span {
          font-size: 80px;
          font-family: "PTSansBold";
          color: #e42a1e; }

.about .instagram {
  padding: 75px 0 57px 0;
  background-image: url(../images/inst-bg.png);
  background-size: cover;
  background-position-y: -12.3rem; }
  .about .instagram .btn-global {
    margin-bottom: 7px; }
    .about .instagram .btn-global img {
      margin-right: 1rem; }
  .about .instagram .inst-link {
    background-color: #fff;
    width: 221px;
    justify-content: flex-start; }

.about .about-text-foot {
  width: 60%;
  margin: 3rem auto;
  border: 10px solid #f3f3f3;
  padding: 3rem 8rem 2rem;
  position: relative; }
  .about .about-text-foot span {
    position: absolute;
    top: -2.6rem;
    left: 45%; }

@media only screen and (max-width: 576px) {
  .about .title, .about .about-text, .about .about-production {
    padding: 0 15px; }
  .about .about-production img {
    margin-bottom: 1rem; }
  .about .distributor .Official-distributor .distributor-block {
    background-color: transparent;
    position: static;
    width: auto; }
    .about .distributor .Official-distributor .distributor-block .distributor-text {
      position: static; }
  .about .distributor .Customer-base .distributor-block {
    background-color: transparent;
    position: static;
    width: auto; }
    .about .distributor .Customer-base .distributor-block .distributor-text {
      position: static; }
  .about .instagram {
    background-size: auto; }
  .about .about-text-foot {
    width: auto;
    padding: 3rem 0rem 2rem; }
    .about .about-text-foot span {
      left: 40%; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .map {
    margin-bottom: 5rem !important; }
    .map .col-12 {
      padding: 0; }
      .map .col-12 label {
        margin-top: 2rem; }
    .map .your-question {
      position: static !important;
      width: 100% !important; }
      .map .your-question .btn-global {
        margin-top: 2rem; } }

.contact {
  display: flex;
  align-items: end; }
  .contact img {
    margin-right: 2rem; }
  .contact a {
    color: #002494; }

.map {
  margin-top: 3rem;
  margin-bottom: 275px;
  box-shadow: 0px 33px 100px 0px rgba(184, 184, 197, 0.26);
  position: relative; }
  .map .your-question {
    width: 75%;
    position: absolute;
    left: 15%;
    bottom: -4rem;
    padding: 2rem;
    background-color: #fff; }
    .map .your-question label {
      font-family: "PTSansBold"; }
    .map .your-question input {
      width: 100%;
      padding: 1rem;
      font-size: 16px;
      font-family: "PTSansBold";
      border-radius: 5px;
      border: 1px;
      background-color: #f5f6f8; }
    .map .your-question .btn-global {
      width: 100%; }

@media only screen and (max-width: 576px) {
  .contact {
    margin-top: 2rem; }
    .contact img {
      width: 2rem; }
  .map {
    margin-bottom: 3rem; }
    .map .your-question {
      width: auto;
      position: static; }
      .map .your-question .col-12 {
        padding: 0; }
        .map .your-question .col-12 label {
          margin-top: 2rem; }
        .map .your-question .col-12 .btn-global {
          margin-top: 2rem; } }

.catalog .catalog-filter {
  background-image: url(../images/catalog-1.png);
  padding: 15px 0 12px 0; }
  .catalog .catalog-filter .value-inp {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .catalog .catalog-filter .value-inp input {
      width: 37%;
      border: none;
      border-radius: 5px;
      padding: 5px 15px;
      color: #8d8d8d; }
  .catalog .catalog-filter input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 1rem;
    height: 6px;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #e42a1e 0%, #e42a1e 50%, #fff 50%, #fff 100%); }
    .catalog .catalog-filter input[type="range"]:focus {
      outline: none; }
    .catalog .catalog-filter input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      background-color: #fff;
      background-image: url(../images/menu-line.png);
      background-size: inherit;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      box-shadow: 0px 3px 7.36px 0.64px rgba(147, 147, 147, 0.31);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      cursor: pointer; }
  .catalog .catalog-filter .filter-product .filter-checkbox {
    font-size: 14px;
    font-weight: 500; }
    .catalog .catalog-filter .filter-product .filter-checkbox input {
      margin-right: 10px; }
    .catalog .catalog-filter .filter-product .filter-checkbox input[type="checkbox"] {
      -webkit-appearance: none;
      width: 28px;
      height: 28px;
      background-color: #fff;
      border-radius: 5px;
      position: relative; }
      .catalog .catalog-filter .filter-product .filter-checkbox input[type="checkbox"]:focus {
        outline: none; }
    .catalog .catalog-filter .filter-product .filter-checkbox input[type="checkbox"]:not(:checked):after {
      content: "";
      position: absolute;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      left: 30%;
      top: 30%;
      width: 15px;
      height: 7px;
      border-radius: 1px;
      border-left: 4px solid #e42a1e;
      border-bottom: 4px solid #e42a1e;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
      .catalog .catalog-filter .filter-product .filter-checkbox input[type="checkbox"]:not(:checked):after:focus {
        outline: none; }

.catalog .catalog-product {
  padding-top: 2rem; }
  .catalog .catalog-product .product-content {
    padding: 1.5rem 1.3rem 0;
    border: 1px solid #eeeeee;
    transition: all 0.5s ease; }
    .catalog .catalog-product .product-content .product-img {
      position: relative;
      height: 10rem; }
      .catalog .catalog-product .product-content .product-img .quick-view {
        transition: all 0.2s ease-in-out;
        background-color: rgba(229, 229, 229, 0.9);
        text-decoration: none;
        border-radius: 2px;
        visibility: hidden;
        position: absolute;
        text-align: center;
        margin-left: -75px;
        margin-top: -20px;
        line-height: 36px;
        cursor: pointer;
        color: #666;
        height: 36px;
        width: 150px;
        opacity: 0;
        z-index: 99;
        left: 50%;
        top: 50%;
        font-size: 13px;
        font-family: "PtSansBold"; }
      .catalog .catalog-product .product-content .product-img img {
        width: 86px; }
      .catalog .catalog-product .product-content .product-img:hover .quick-view {
        visibility: visible;
        opacity: 1; }
    .catalog .catalog-product .product-content .product-body .product-text {
      height: 7rem; }
    .catalog .catalog-product .product-content .product-body .product-price {
      margin-bottom: 1rem; }
    .catalog .catalog-product .product-content:hover {
      box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
      border: 1px solid transparent; }

.modal-dialog {
  max-width: 65%; }
  .modal-dialog .close {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 3rem;
    font-weight: 100; }
  .modal-dialog .modal-content {
    padding: 1.5rem 2.5rem; }
    .modal-dialog .modal-content .modal-header {
      padding-top: 0;
      border-bottom: 0; }
    .modal-dialog .modal-content .modal-galery {
      margin-top: 0.7rem;
      margin-bottom: 1rem; }
      .modal-dialog .modal-content .modal-galery .item-cont {
        padding: 10px;
        box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
        font-size: 13px; }
        .modal-dialog .modal-content .modal-galery .item-cont p {
          font-family: "PTSansBold"; }
    .modal-dialog .modal-content .modal-slider {
      position: relative; }
      .modal-dialog .modal-content .modal-slider .galery-prev,
      .modal-dialog .modal-content .modal-slider .galery-next {
        position: absolute;
        top: 50%;
        z-index: 99; }
      .modal-dialog .modal-content .modal-slider .galery-prev {
        left: 1rem; }
      .modal-dialog .modal-content .modal-slider .galery-next {
        right: 1rem; }
  .modal-dialog .right-modal-content .modal-tab .tab-head {
    width: fit-content;
    box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
    font-family: "PtSansBold"; }
    .modal-dialog .right-modal-content .modal-tab .tab-head li {
      transition: all 1s ease;
      color: #a4a4a4;
      list-style-type: none;
      padding: 0.5rem 1.5rem;
      cursor: pointer; }
  .modal-dialog .right-modal-content .modal-tab .tab-active {
    border-radius: 5px;
    background-color: #000;
    color: #fff !important; }
  .modal-dialog .right-modal-content .modal-tab .modal-description {
    transform: translateX(200%);
    transition: all 1s ease;
    position: absolute;
    opacity: 0; }
    .modal-dialog .right-modal-content .modal-tab .modal-description ul li {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      font-weight: 500; }
  .modal-dialog .right-modal-content .modal-tab .description-active {
    display: block !important;
    transform: translateX(0);
    position: static;
    opacity: 1; }

.small {
  color: #71717e; }

.quantity {
  width: 70%;
  justify-content: space-between;
  display: flex;
  align-items: center; }
  .quantity form {
    position: relative;
    width: 45%;
    display: flex;
    align-items: center;
    height: 2.5rem; }
    .quantity form input {
      position: absolute;
      width: 100%;
      background-color: #fff;
      text-align: center;
      font-weight: bold;
      height: 100%;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24); }
    .quantity form .plus {
      position: absolute;
      z-index: 999;
      right: 5px;
      cursor: pointer; }
    .quantity form .minus {
      cursor: pointer;
      position: absolute;
      z-index: 999;
      left: 5px; }

@media only screen and (max-width: 576px) {
  .filter-checkbox div {
    padding-left: 10px !important; } }
