.btn {
  &:hover {
    background-color: #e42a1e;
    box-shadow: 0px 9px 7.74px 1.26px rgba(228, 42, 30, 0.24);
    border: 1px solid #e42a1e;
    overflow:hidden;
  }
}
.btn-global {
  height: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #000;
  width: fit-content;
  position: relative;
  overflow:hidden;
  &:before {
    content: "";
    width: 2rem;
    height: inherit;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-3.5rem) skewX(-45deg);
    transition: 0.5s;
  }
  &:hover:before {
    transform: translateX(8rem) skewX(-45deg);
    background-color: rgba(#fff, 0.3);
    color: #fff !important;
  }
  &:hover {
    background-color: #e42a1e;
    img{
      filter: invert(1);
    }
  }
}
.carousel-btn {
  overflow:hidden;
  display: flex;
  justify-content: space-between;
  a {
    transition: 0.5s;
    color: #000;
    &:first-child {
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:last-child {
      width: 50%;
    }
  }
}

// slider-footer-btn
.catalog {
  overflow:hidden;
  .btn-basket {
    width: 100%;
  }
  .btn {
    width: 100%;
    height: 2.5rem;
  }
}
.btn-basket {
  overflow:hidden;
  width: auto;
  height: 2.5rem;
  position: relative;
  justify-content: center;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #000;
  align-items: center;
  img {
    position: absolute;
    left: 5%;
  }
  &:hover {
    border-color: #dc3545;
  }
}
.btn-card-product{
  .btn-basket,.btn-global{
    width: 80%;
    height: 3rem;
  }
}