.main-slider{
    .carousel-item{
        height: 530px;
    }
    h1{
        font-family: "PTSansBold";
    }
    position: relative;
    .carousel-indicators{
        width: fit-content;
        margin: 0;
        bottom: 25%;
        left: 8%;
        .active{
            background-color: red;
        }
    }
    li{
        border: 0;
        width: 3.5rem;
        height: 6px;
        background-color: #fff;
        box-shadow: 0px 8px 13.76px 2.24px rgba(196, 196, 196, 0.67);
        margin-right: 1rem;
        border-top: 0;
        border-bottom: 0;
        border-radius: 1rem;
    }
    .carousel-text{
        width: 37%;
        position: absolute;
        top: 22%;
        left: 8%;
    }
    .carousel-btn{
        margin-top: 3.5rem;
    }
    .carousel-link{
        a{
            color: #000;
            &:hover{

            }
        }
        .link-pos-1{
            position: absolute;
            bottom: 51%;
            left: 46%;
        }
        .link-pos-2{
            position: absolute;
            bottom: 45%;
            left: 50%;
        }
        .link-pos-3{
            position: absolute;
            top: 40.5%;
            right: 19%;
        }
        .link-pos-4{
            position: absolute;
            bottom: 32.5%;
            right: 15%;
        }
        .link-pos-5{
            position: absolute;
            bottom: 38%;
            right: 3%;
        }
    }
}
@media only screen and (max-width:576px){
    .main-slider{
        .carousel-indicators{
            bottom: 15%;
        }
        .carousel-item{
            height: 340px;
            img{
                height: 100%;
                image-rendering: pixelated;
            }
        }
        .carousel-link{
            display: none;
        }
        .carousel-text{
            width: 100%;
            top: 2rem;
            left: 0;
            padding: 0 .5rem;
            h1{
                font-size: x-large;
            }
            .btn-global{
                font-size: 12px;
                font-weight: bold;
                height: 2.3rem;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

// production-carousel
.production{
    .prev{
        position: absolute;
        left: 0rem;
        top: 50%;
    }
    .next{
        position: absolute;
        right: 0rem;
        top: 50%;
    }
    .next,.prev{
        &:hover{
            opacity: .5;
        }
    }
    .owl-carousel{
        img{
            width: auto;
        }
        .item{
            padding:3rem 1.5rem 1.5rem 1.5rem;
            background-color: #Fff;
            text-align: center;
            img{
                margin: 0 auto;
                width: auto;
                max-height: 8rem;
            }
        }
        .btn-global{
            width: 100%;
            margin-top: 1rem;
        }
    }
}

// production-carousel-end

// goods-carousel

.goods{
    .owl-carousel-goods{
        .item{
            border: 2px solid #eeeeee;;
            text-align: center;
            padding: 3rem 0 2rem 0;
            img{
                max-width: 160px;
                max-height: 160px;
                width: auto;
                margin: 0 auto;
            }
            &:hover{
                border:none;
                box-shadow: 0px 9px 27.52px 4.48px rgba(196, 196, 196, 0.24);
            }
        }
    }
}
// goods-carousel-end

// footer-carousel
.carousel-control-prev-icon{
    background-image: none;
}   
.carousel-control-next-icon{
    background-image: none;
}
.carousel-control-next{
    right: 2rem;
}


// footer-carousel-end