.shoping-fix {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  top: 10%;
  right: 0;
  transform: translateX(100%);
  transition: all 1s ease;
  .shoping-img {
    background: #000;
    position: absolute;
    left: -77px;
    top: 0;
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    cursor: pointer;
    transition: all .5s ease;
    &:hover{
      border-radius: 8px 0 0 8px;
      img {
      transition: all .5s ease;
      &:hover {
        transform: scale(0.8);
        filter: grayscale(1);
      }
    }
    }
  }
}
.shoping-fix-active {
  transform: translateX(0) !important;
}
.shoping-dark {
  opacity: 0;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.shoping-active {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  z-index: 999;
}
.shoping-fix-basket {
  width: fit-content;
  padding: 1rem 2rem;
  .quantity {
    width: auto;
  }
  .shoping-fix-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    .delet-product {
      cursor: pointer;
      img {
        margin: 0 2rem;
      }
    }
    .shoping-fix-img {
      padding: 1rem 2rem;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: center;
      img {
        width: 3.5rem;
        max-width: 3.5rem;
      }
    }
  }
  .basket-btn {
    display: flex;
    .btn-global {
      width: 35%;
      margin: 0 1rem 0 0;
    }
  }
  .basket-footer {
    h2 {
      margin-left: 1rem;
    }
  }
}
