footer{
    background-image: url(../images/footer-bg.png);
    padding: 45px 0;
    color: #fff;
    a{
        color: #fff !important;
    }
    .btn-global{
        padding: 0 1.2rem;
        img{
            margin-left: 1rem;
        }
    }
    .footer-loc{
        img{
            margin-right: .4rem;
        }
        p{
            color: #e42a1e;
        }
    }
}
.end{
    padding-top: 1rem;
    font-weight: 500;
    color: #92929c;
    a{
        color: #92929c;  
    }
}

@media only screen and (max-width:576px){
    footer{
        text-align: center;
        .logo{
            text-align: center;
            margin-bottom: 1rem;
        }
        .footer-btn{
            flex-direction: column;
            .btn-global{
                margin: 1rem auto;
            }
        }
        .footer-loc{
            p{
                margin-bottom: 2rem;
            }
        }
    }
}