.header {
  padding: 11px 0 16px 0;
  box-shadow: 0px 5px 34.2px 3.8px rgba(28, 28, 28, 0.33);
  background-image: url(../images/header-bg.png);
  font-family: "PTSansBold";
  p {
    margin: 0;
  }
  .nav {
    ul {
      margin: 0;
      li {
        font-size: 16px;
        list-style-type: none;
        a {
          color: #fff;
          &:hover {
            text-decoration: none;
            color: #e42a1e;
          }
        }
      }
    }
  }
  .big-text {
    font-size: 20px;
    color: #fff;
    p {
      font-family: "PTSansBold";
    }
  }
  .menu-catalog {
    background-color: #e42a1e;
    padding: 13px 18px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    transition: all .5s ease;
    &:hover{
      transform: scale(.9);
      background-color: #ca281d;
    }
    cursor: pointer;
    .menu-button {
      display: flex;
      align-items: center;
      transition: all 1s ease;
    }
    .burger-menu-lines {
      width: 28px;
      height: 3px;
      margin-right: 1rem;
      background-color: #fff;
      position: relative;
      transition: all 1s ease;
      &::after {
        content: "";
        position: absolute;
        width: 28px;
        height: 3px;
        background-color: #fff;
        top: 8px;
      }
      &::before {
        content: "";
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background-color: #fff;
      }
    }
  }
  form {
    position: relative;
    display: flex;
    align-items: center;
    height: 3.3rem;
    font-weight: 100;
    font-size: 16px;
    input {
      color: #ababab;
      width: 98%;
      height: 100%;
      border-radius: 5px;
      border: none;
      padding-left: 1rem;
      padding-right: 3rem;
      &:focus {
        outline-color: #e42a1e;
      }
    }
    a {
      right: 2rem;
      position: absolute;
    }
  }
  .btn-global {
    color: #fff;
    width: 100%;
    img{
      transition: all .2s;
    }
    &:hover{
      img{
        filter: brightness(0) invert(1);
      }
    }
  }
}

// CATALOG-MENu
.burger-menu-lines-active {
  background-color: transparent !important;
  transform: rotate(360deg);
  &::after {
    top: 0 !important;
    transform: rotate(-45deg);
    transition: all 0.1s ease;
  }
  &::before {
    top: 0 !important;
    transform: rotate(45deg);
    transition: all 0.1s ease;
  }
}

.menu-catalog-content {
  width: 80%;
  background-image: url(../images/header-bg.png);
  display: none;
  padding: 1rem 2rem;
  position: absolute;
  z-index: 99;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-top: .5rem;
  // span {
  //   width: 2rem;
  //   height: 2rem;
  //   display: block;
  //   position: absolute;
  //   top: -1rem;
  //   left: 15px;
  //   background-image: url(../images/header-bg.png);
  //   transform: rotate(-46deg);
  //   z-index: 101;
  // }
  ul {
    li {
      list-style-type: none;
      display: inline-block;
      margin: 0.5rem 2rem;
      a {
        color: #fff;
      }
    }
  }
}
.menu-catalog-content-active {
  transform: scaleX(1);
}

.mobile-menu {
  .burger-mobile {
    display: none;
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    .burger-mobile-lines{
      position: fixed;
      width: 2rem;
      height: 3.5px;
      background-color: #fff;
      transition: all 0.5s ease;
      border-radius: 5px;
      z-index: 100;
      border-bottom: 2px solid silver;
      &::after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 3.5px;
        background-color: #fff;
        top: 10px;
        border-radius: 5px;
        border-bottom: 2px solid silver;
      }
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        width: 2rem;
        height: 3.5px;
        background-color: #fff;
        border-radius: 5px;
        border-bottom: 2px solid silver;
      }
    }
  }
}
  .mobile-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/header-bg.png);
    z-index: 99;
    transform: translateX(100%);
    transition: 0.5s;
    opacity: 0;
    border-bottom-left-radius: 60rem;
    border-bottom: 3rem solid silver;
    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      li{
        list-style-type: none;
        margin-top: 2rem;
        transform: translateX(100%);
        &:nth-child(1){
          margin-top: 0;
          transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
        }
        &:nth-child(2){
          transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
        }
        &:nth-child(3){
          transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
        }
        &:nth-child(4){
          transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
        }
        a {
          color: #fff;
        }
      }
    }
  }
  .mobile-nav-active {
    transform: translateX(0) !important;
    opacity: 1;
    border-bottom-left-radius: 0;
    border: none;
  }
  .burger-mobile-lines-active {
    background-color: transparent !important;
    border: none !important;
    transform: rotate(360deg);
    &::after {
      top: 0 !important;
      transform: rotate(-45deg);
      transition: all 0.1s ease;
    }
    &::before {
      top: 0 !important;
      transform: rotate(45deg);
      transition: all 0.1s ease;
    }
  }

.body-overflow{
  overflow-y: hidden;
}
.li-active{
  transform: translateX(0) !important;
}

// MEDIA

@media only screen and (max-width: 576px) {
  .menu-catalog-content{
    width: 90%;
    ul{
      li{
        display: block;
        margin-bottom: 2rem;
      }
    }
  }
  .burger-mobile{
    display: block !important;
  }
  .desk {
    display: none;
  }
  .logo {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width:1023px) {
  .menu-catalog-content{
    width: 90%;
    ul{
      li{
        display: block;
        margin-bottom: 2rem;
      }
    }
  }
  .burger-mobile{
    display: block !important;
  }
  .desk {
    display: none;
  }
  .logo {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width:1300px) {
  .header{
    .menu-catalog{
      font-size: 12px;
    }
    .btn-global{
      font-size: 12px;
    }
  }
}
